#section-1 {
    height: 670px;
}

#section-2 {
    height: 320px;
}

#section-3 {
    height: 1285px;
}

#section-4 {
    height: 985px;
}

#section-5 {
    height: 1570px;
}

#section-6 {
    height: 1053px;
}

#section-7 {
    height: 1700px;
}

#section-8 {
    height: 1200px;
}

#section-9 {
    height: 980px;
}

#section-10 {
    height: 1120px;
}

#section-11 {
    height: 950px;
}

.section-quote {
    height: 388px;
}

.section-quote:nth-of-type(2) {
    height: 650px;
}

#section-10+.section-quote {
    height: 647px;
}

@media only screen and (max-width: 1023px) {
    #section-1 {
        height: 1180px;
    }
    #section-2 {
        height: 400px;
    }
    #section-3 {
        height: 1700px;
    }
    #section-4 {
        height: 1160px;
    }
    #section-5 {
        height: 1300px;
    }
    #section-6 {
        height: 1230px !important;
    }
    #section-7 {
        height: 2465px;
    }
    #section-8 {
        height: 1380px;
    }
    #section-9 {
        height: 1270px;
    }
    #section-10 {
        height: 1280px;
    }
    #section-10+.section-quote {
        height: 768px;
    }
}